<?xml version='1.0' encoding='utf-8'?>
<widget id="org.code4tottori.cocomaps" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CoCoMaps</name>
    <description>
      CoCoMaps (考古地図)
    </description>
    <author email="mh.on.web@gmail.com" href="https://github.com/mh61503891">
        Masayuki Higashino
    </author>
    <content src="index-v2.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-geolocation" spec="~2.2.0" />
    <plugin name="cordova-plugin-device-orientation" spec="~1.0.3" />
    <plugin name="cordova-plugin-screen-orientation" spec="~1.4.2" />
    <plugin name="cordova-plugin-file" spec="~4.2.0" />
    <engine name="browser" spec="~4.1.0" />
    <engine name="ios" spec="~4.2.0" />
    <engine name="android" spec="~5.2.1" />
</widget>
