html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
div.map {
  width: 50%;
  height: 100%;
  display: inline-block;
}
div.ol-control button {
  width: 30px;
  height: 30px;
}
.rotate-north {
  top: 80px;
  left: .5em;
}
.ol-touch .rotate-north {
  top: 80px;
}
div.center-marker {
  position: fixed;
  top: 50%;
  z-index: 2;
  font-size: 18px;
  font-weight: bold;
  text-shadow: white 1px 1px 0px, white -1px 1px 0px,
               white 1px -1px 0px, white -1px -1px 0px;
}
div#map1-center-marker {
  left: 25%;
}
div#map2-center-marker {
  left: 75%;
}
